#Profile {
    border-radius: 40%;
    margin-left: 45px;
    margin-top: 1px;
    height:40px;
    width:40px;
}

#profile-name {
    margin-left: 25px;
}

#top-profile {
    background-color: #ffebcd;
    margin-top: 25px;
}

